.brand-list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  max-width: 1440px;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    height: 100%;
    min-height: 725px;
    width: calc(100% - 162px);
    background-image: url('../../../shared/assets/ui/img/wmn2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 1100px) {
      width: calc(100% - 122px);
      margin: 0;
    }

    @media (max-width: 910px) {
      background-image: url('../../../shared/assets/ui/img/wmn3.jpg');
      width: 100%;
      background-size: cover;
    }
  
  }

  &__btn {
    text-transform: uppercase;
    font-size: 20px;
    @media (max-width: 1100px) {
      font-size: 18px;
    }
    @media (max-width: 650px) {
      font-size: 15px;
    }
    @media (max-width: 400px) {
      font-size: 14px;
    }
  }

  &__list {
    position: absolute;
    top: 10vh;
    margin-top: 83px;
    height: 510px;
    width: fit-content;
    overflow-y: auto;
    overflow-x: hidden;

    & > li {
      margin-bottom: 30px;
      @media (max-width: 650px) {
        margin-bottom: 20px;
      }
    }

    @media (max-width: 1200px) {
      height: 400px;
    }
    @media (max-width: 1100px) {
      margin-top: 40px;
    }
    @media (max-width: 910px) {
      height: 300px;
      margin-left: 41px;
      margin-top: 0;
    }
    @media (max-width: 650px) {
      margin-left: 21px;
    }
    @media (max-width: 400px) {
      height: 290px;
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
  }
}
