@font-face {
    font-family: 'Gothic60';
    src: url('../fonts/Gothic60-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter_28pt-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}