@use '../../../shared/assets/ui/styles/variables.scss' as *;

.continue-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 2px solid $eerie;
  width: 100%;
}
