@use '../../../shared/assets/ui/styles/variables.scss' as *;

.bag {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 602px;
    height: 100%;
    z-index: 7;
    background-color: #ffffff;
    padding: 25px 81px 25px 30px;

    @media (max-width: 1100px) {
      padding: 20px 50px 20px 25px;
      width: 450px;
    }

    @media (max-width: 500px) {
      padding: 10px 20px;
      width: 320px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid $eerie;
    @media (max-width: 1100px) {
      padding-bottom: 15px;
    }

    & span {
      font-size: 35px;
      text-transform: uppercase;
      color: $eerie;

      @media (max-width: 1100px) {
        font-size: 30px;
      }
      @media (max-width: 1100px) {
        font-size: 20px;
      }
    }
  }

  &__cross {
    width: 25px;
    height: 25px;

    @media (max-width: 1100px) {
      width: 20px;
      height: 20px;
    }
    @media (max-width: 500px) {
      width: 15px;
      height: 15px;
    }
  }

  &__products {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

  &__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid $eerie;

    @media (max-width: 1100px) {
      font-size: 18px;
      margin-bottom: 20px;
      padding-top: 15px;
    }
    @media (max-width: 1100px) {
      font-size: 15px;
      margin-bottom: 15px;
      padding-top: 10px;
    }
  }

  &__empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 25px;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__animate-enter {
    opacity: 0;
    position: absolute;
    right: -602px;
    @media (max-width: 1100px) {
      right: -450px;
    }
    @media (max-width: 500px) {
      right: -320px;
    }
  }
  &__animate-enter-active {
    opacity: 1;
    right: 0px;
    transition: all 200ms;
    @media (max-width: 810px) {
      top: 0;
    }
  }
  &__animate-exit {
    opacity: 1;
    top: 0px;
    @media (max-width: 810px) {
      top: 0;
    }
  }
  &__animate-exit-active {
    opacity: 0;
    transition: all 200ms;
    @media (max-width: 810px) {
      top: 0;
    }
  }
}
