@use '../../../shared/assets/ui/styles/variables.scss' as *;

.profile {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  font-size: 45px;
  margin-top: 50px;

  &__welcomes {
    display: block;
    width: 100%;
    color: $eerie;
    border-bottom: 2px solid $eerie;
    padding-bottom: 30px;
  }

  &__tabs {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 15px;
    width: fit-content;
    padding-right: 65px;
    height: 100%;
    border-right: 2px solid $eerie;

    & span {
      font-size: 25px;
      text-transform: uppercase;
    }
  }

  &__section {
    height: 100%;
    display: flex;
  }
}
