.safety {
  padding: 50px 20px;
  width: 100%;

  &__info {
    font-size: 25px;

    & > li {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
    }
  }

  &__params-title {
    min-width: 141px;
    margin-right: 222px;
  }

  & img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  &__edit-button {
    opacity: 0.5;
    transition: opacity 0.15s ease;

    &:hover {
      opacity: 1;
    }
  }
}
