@use '../../../shared/assets/ui/styles/variables.scss' as *;

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  text-transform: uppercase;
  padding: 40px 0;

  &__wrapper {
    width: 630px;
    background-color: #ffffff;
    padding: 50px 30px;
    height: 100%;
    max-height: 559px;
    overflow-y: hidden;
    margin: 0 21px;

    @media (max-width: 1100px) {
      max-height: 465px;
      padding: 30px 25px;
      width: 500px;
    }
    @media (max-width: 500px) {
      max-height: 335px;
      padding: 20px 15px;
      width: 500px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;

    @media (max-width: 500px) {
      margin-bottom: 20px;
    }

    & > h2 {
      font-size: 25px;

      @media (max-width: 1100px) {
        font-size: 22px;
      }
      @media (max-width: 500px) {
        font-size: 17px;
      }
    }
  }

  &__cross {
    width: 18px;
    height: 18px;
  }

  &__method {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid $eerie;
    margin-bottom: 30px;
    @media (max-width: 1100px) {
      margin-bottom: 25px;
    }
    @media (max-width: 500px) {
      margin-bottom: 15px;
      padding-bottom: 5px;
    }

    & button {
      text-transform: uppercase;
      & > span {
        font-size: 22px;
        @media (max-width: 1100px) {
          font-size: 19px;
          @media (max-width: 500px) {
            font-size: 14px;
          }
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    max-height: calc(100% - 150px);
    display: block;

    @media (max-width: 1100px) {
      max-height: calc(100% - 100px);
    }

    & > label {
      font-size: 20px;
      margin-bottom: 15px;
      @media (max-width: 1100px) {
        font-size: 17px;
      }
      @media (max-width: 500px) {
        font-size: 15px;
      }
    }

    & > input {
      min-height: 60px;
      width: 100%;
      border: 1px solid $eerie;
      margin-bottom: 30px;
      font-size: 20px;
      text-transform: uppercase;

      @media (max-width: 1100px) {
        font-size: 15px;
      }

      @media (max-width: 500px) {
        font-size: 10px;
      }

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bonjour inset;
      }

      @media (max-width: 1100px) {
        min-height: 50px;
        margin-bottom: 25px;
      }
      @media (max-width: 500px) {
        min-height: 40px;
        margin-bottom: 15px;
      }
    }

    & > button {
      margin-top: 15px;
      @media (max-width: 1100px) {
        margin-top: 10px;
      }
    }

    & > p {
      color: $stardust;
      line-height: 125%;
      margin-bottom: 5px;
      font-size: 18px;

      @media (max-width: 1100px) {
        font-size: 15px;
      }
      @media (max-width: 500px) {
        font-size: 12px;
      }

      & > strong {
        color: $stardust;
      }
      & > a {
        color: $stardust;
        text-decoration: underline;
      }
    }
  }

  &__message {
    font-size: 15px;
    display: block;
    width: 100%;
    background-color: $eerie;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    line-height: 125%;

    @media (max-width: 1100px) {
      font-size: 12px;
    }
    @media (max-width: 500px) {
      font-size: 10px;
    }
  }
}
