@use '../../../shared/assets/ui/styles/variables.scss' as *;

.header {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  min-height: 66px;
  border-bottom: 2px solid $eerie;
  background: linear-gradient(to top, white, #999799 95%);
  height: 66px;

  @media (max-width: 1100px) {
    height: 50px;
    min-height: 50px;
  }
  @media (max-width: 650px) {
    height: 45px;
    min-height: 45px;
  }

  &_transparent {
    background: transparent;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
  }

  &__logo > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 134px;
    height: auto;

    @media (max-width: 1100px) {
      width: 100px;
    }
    @media (max-width: 650px) {
      width: 64px;
    }
  }

  &__burger-button {
    & img {
      width: 34px;
      height: auto;

      @media (max-width: 1100px) {
        width: 25px;
      }
      @media (max-width: 650px) {
        width: 22px;
      }
    }
  }

  &__navbar > ul {
    display: flex;
    column-gap: 22px;
    @media (max-width: 1100px) {
      column-gap: 16px;
    }
    @media (max-width: 650px) {
      column-gap: 10 px;
    }

    & img {
      width: 18px;
      height: auto;

      @media (max-width: 1100px) {
        width: 14px;
      }
      @media (max-width: 650px) {
        width: 10px;
      }
    }
  }

  &__popup-wrapper {
    position: absolute;
    top: 0;
    z-index: 4;
    width: 100%;
    @media (max-width: 810px) {
      left: 0;
    }
  }

  &__popup-enter {
    opacity: 0;
    top: -281px;
    @media (max-width: 810px) {
      top: 0;
      left: -281px;
    }
  }
  &__popup-enter-active {
    opacity: 1;
    top: 0px;
    transition: all 200ms;
    @media (max-width: 810px) {
      top: 0;
      left: 0;
    }
  }
  &__popup-exit {
    opacity: 1;
    top: 0px;
    @media (max-width: 810px) {
      top: 0;
      left: 0;
    }
  }
  &__popup-exit-active {
    opacity: 0;
    top: -281px;
    transition: all 200ms;
    @media (max-width: 810px) {
      top: 0;
      left: -281px;
    }
  }
}
